@import "../wofi/colors.css";

window {
    background-color: @bg;
    color: @fg;
    border: 2px solid @primary;
    border-radius: 12px;
}

#outer-box {
    margin: 10px;
    padding: 10px;
}

#input {
    margin: 10px 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid @primary_container;
    background-color: @surface_container;
    color: @fg;
}

#entry {
    /* 280 (image) + 20 (padding) = 300px per entry */
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    /* Force column consistency */
    min-width: 280px;
}

#entry:selected {
    background-color: @primary_container;
}

#img {
    /* Set specific margins to 0 to clear previous 'not a number' warnings */
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 8px;
}

#text {
    font-size: 0px;
    color: transparent;
}