@import url("../wofi/colors.css");

window {
    background-color: @bg !important;
    color: @fg;
    border: 1px solid @primary;
    border-radius: 12px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
}

#input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid @primary_container;
    background-color: @surface_container;
    color: @fg;
}

#entry {
    orientation: vertical;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @primary_container !important;
}

#img {
    margin: auto;
    border-radius: 8px;
}

#text {
    display: none !important;
    font-size: 0px !important;
}