@import "../wofi/colors.css";

window {
    background-color: @bg;
    color: @fg;
    border: 2px solid @primary;
    border-radius: 12px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
}

#input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid @primary_container;
    background-color: @surface_container;
    color: @fg;
}

#entry {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @primary_container;
}

#img {
    /* Set specific margins to 0 to avoid 'not a number' error */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 8px;
}

#text {
    font-size: 0px;
    color: transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}