@import "../wofi/colors.css";

window {
    background-color: @bg;
    color: @fg;
    border: 2px solid @primary;
    border-radius: 12px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
}

#input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid @primary_container;
    background-color: @surface_container;
    color: @fg;
}

#entry {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @primary_container;
}

#img {
    /* Use 'margin: auto' to center the widget in the box */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Ensure any remaining text widget doesn't take up width */
#text {
    font-size: 0px;
    color: transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}