@import "colors.css";

.notification-row {
    margin: 5px 10px;
}

.notification-content {
    background: alpha(@bg, 0.9);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid @primary;
}

.notification-row .app-name {
    font-size: 0px;
    opacity: 0;
}