@import "colors.css";

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification-content {
    background: @bg;
    color: @fg;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid @primary;
}

.control-center {
    background: @surface;
    border: 2px solid @primary;
    border-radius: 10px;
}