@import "colors.css";

* {
  font-family: SF Pro Display, SF Pro Text, JetBrainsMono Nerd Font, FontAwesome, sans-serif;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

#workspaces {
  background-color: @surface;
  margin: 0 5 0 5;
  padding: 0 5 0 5; 
  border: 2px solid transparent;
  
}

#workspaces button {
  padding: 0 9 0 2;
  margin: 5 5 5 5;
  background-color: @secondary_container;
  border: 2px solid transparent;
  
}

#workspaces button:hover {
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface_container;
  border: 2px solid transparent;
}

#workspaces button.active {
  background-color: @main-accent;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid transparent;
}

#workspaces button.focused {
  background-color: @main-accent;
  border: 2px solid transparent;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  border: 2px solid transparent;
}



#custom-menu {
  color: @on_surface;
  background-color: @surface;
  padding: 5 12 5 9.5;
  margin: 5 0 5 5;
  
  
}

#clock {
  color: @on_surface;
  background-color: @surface;
  padding: 0 10 0 10;
  margin: 5 5 5 2;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#window {
    color: @on_surface;
    background-color: @surface;
    padding: 0 10 0 10;
    margin: 5 2 5 2;

}

/* If you are using a wrapper or island around it */
/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#battery button.warning {
    box-shadow: none;
}



