@import "colors.css";

/* Main Panel */
window#swaync-control-center .control-center {
    background: alpha(@bg, 0.95);
    border-radius: 12px;
    border: 1px solid @primary;
    margin: 10px;
    padding: 20px;
    min-height: 1030px;
}

/* Button Grid */
window#swaync-control-center .widget-buttons-grid {
    background: alpha(@primary, 0.1);
    margin: 0 0 20px 0;
    border-radius: 12px;
    padding: 10px;
}

/* Sliders */
window#swaync-control-center .widget-volume, 
window#swaync-control-center .widget-backlight {
    background: alpha(@primary, 0.1);
    border-radius: 12px;
    padding: 15px 20px;
    margin: 10px 0;
}

window#swaync-control-center .widget-volume > box > label,
window#swaync-control-center .widget-backlight > box > label {
    font-size: 1.3rem;
    margin-right: 15px;
    color: @primary;
}

/* Slider Geometry */
window#swaync-control-center scale trough {
    min-height: 10px;
    min-width: 240px;
    background: alpha(@fg, 0.1);
    border-radius: 10px;
}

window#swaync-control-center scale highlight {
    background: @primary;
    border-radius: 10px;
}

window#swaync-control-center scale slider {
    background: @fg;
    min-width: 14px;
    min-height: 14px;
    margin-top: -2px;
    border-radius: 50%;
}

/* Notifications */
window#swaync-control-center .widget-title {
    margin: 25px 0 10px 0;
}

window#swaync-control-center .widget-title > label {
    font-size: 1.2rem;
    font-weight: 800;
    color: @primary;
}

window#swaync-control-center .notification-content {
    background: alpha(@surface, 0.5);
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid alpha(@primary, 0.3);
}