@import "colors.css";

* {
  font-family: SF Pro Display, SF Pro Text, JetBrainsMono Nerd Font, FontAwesome, sans-serif;
  font-size: 13px;
  border-radius: 15px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

#workspaces {
  background-color: @surface;
  margin: 0 0 0 0;
  padding: 6 6 6 6;
  
  
  
}

#workspaces button {
  padding: 0 2 0 2;
  margin: 0 3 0 3;
  background-color: @secondary_container;
  

  
  
}

#workspaces button:hover {
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface_container;
  
}

#workspaces button.active {
  background-color: @main-accent;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  
  
}

#workspaces button.focused {
  background-color: @main-accent;

}

#workspaces button.urgent {
  background-color: #eb4d4b;
  
}



#custom-menu {
  color: @on_surface;
  background-color: @surface;
  padding: 0 15 0 12;
  margin: 0 5 0 5;
  
  
}

#custom-bluetui {
  color: @on_surface;
  background-color: @surface;
  padding: 0 11 0 10;
  margin: 0 2 0 2;
  font-size: 16px;
  border-radius: 50%;
  
  
}

#clock {
  color: @on_surface;
  background-color: @surface;
  padding: 5 10 5 10;
  margin: 0 5 0 2;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#window {
    color: @on_surface;
    background-color: @surface;
    padding: 0 10 0 10;
    margin: 0 2 0 2;

}

/* If you are using a wrapper or island around it */
/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#battery button.warning {
    box-shadow: none;
}



