@define-color wofi-bg {{colors.surface.default.hex}};
@define-color wofi-fg {{colors.on_surface.default.hex}};
@define-color wofi-accent {{colors.primary.default.hex}};
@define-color wofi-selection {{colors.primary_container.default.hex}};
@define-color wofi-selection-text {{colors.on_primary_container.default.hex}};