@import "colors.css";

window {
    font-family: "SF Pro Display", "SF Pro Text", "JetBrainsMono Nerd Font Propo";
    font-size: 15.5px;
    font-weight: 600;
    
    background-color: @bg;
    color: @fg;
    border: 2px solid @primary;
    border-radius: 12px;
}

#outer-box {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid @primary;
    border-radius: 12px;
}

#inner-box {
    background-color: @bg;
}

#input {
    padding: 10px;
    margin: 10px 20px;
    border-radius: 8px;
    border: 1px solid @primary_container;
    background-color: @surface_container;
    color: @fg;
}

#entry {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @primary_container;
    color: @on_primary_container;
    outline: none;
}

#entry:selected #img {
    background-color: @primary_container;
    /* Some themes apply a border here too; let's kill that just in case */
    border: none;
    padding: 0px;
    margin: 0px;
}

#text:selected {
    font-weight: 600;
    background-color: transparent;
    color: @fg;



}