@define-color bg #12140d;
@define-color fg #e3e3d8;
@define-color primary #b7d085;
@define-color primary_container #3a4d11;
@define-color on_primary_container #d3ec9e;
@define-color selection #3a4d11;
@define-color selection_text #d3ec9e;
@define-color border #b7d085;