@define-color bg #19120d;
@define-color fg #f0dfd7;
@define-color primary #ffb688;
@define-color primary_container #6e380f;
@define-color on_primary_container #ffdbc7;
@define-color selection #6e380f;
@define-color selection_text #ffdbc7;
@define-color border #ffb688;