@define-color bg #111418;
@define-color fg #e1e2e8;
@define-color primary #a1cafd;
@define-color primary_container #1a4975;
@define-color on_primary_container #d1e4ff;
@define-color selection #1a4975;
@define-color selection_text #d1e4ff;
@define-color border #a1cafd;