@define-color bg #101418;
@define-color fg #e0e2e8;
@define-color primary #9ccbfb;
@define-color primary_container #0f4a73;
@define-color on_primary_container #cee5ff;
@define-color selection #0f4a73;
@define-color selection_text #cee5ff;
@define-color border #9ccbfb;