@define-color bg #0e1415;
@define-color fg #dee3e5;
@define-color primary #82d3e1;
@define-color primary_container #004f58;
@define-color on_primary_container #9eeffe;
@define-color selection #004f58;
@define-color selection_text #9eeffe;
@define-color border #82d3e1;