@define-color bg #1a1111;
@define-color fg #f0dedd;
@define-color primary #ffb3b1;
@define-color primary_container #733334;
@define-color on_primary_container #ffdad8;
@define-color selection #733334;
@define-color selection_text #ffdad8;
@define-color border #ffb3b1;