.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification-content {
    background: alpha(@bg, 0.9);
    color: @fg;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid @primary;
    font-family: "SF Pro Text", "SF Pro Display", sans-serif;
}

.summary {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: @primary;
}

.body {
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    color: @fg;
}

.notification-default:hover {
    background: @surface;
}