@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    color: @on_background;
    border-bottom: 1px solid @primary_container;
}

#window {
    margin: 6px;
}

/* --- WORKSPACES --- */
#workspaces button {
    padding: 0 8px;
    color: @on_surface_variant;
    background: transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @primary_fixed;
    border-bottom: 2px solid @primary_fixed;
}

#workspaces button.urgent {
    color: @error;
    border-bottom: 2px solid @error;
}

/* --- MODULE SIGNIFIERS --- */
#clock, #battery, #cpu, #memory, #network, #temperature {
    padding: 0 10px;
}

#network {
    color: @tertiary_fixed; /* Brightest Lavender */
    border-bottom: 2px solid @tertiary_fixed;
}

#cpu {
    color: @primary_fixed; /* Brightest Neon Cyan */
    border-bottom: 2px solid @primary_fixed;
}

#temperature {
    color: @error; /* Coral Red */
    border-bottom: 2px solid @error;
    padding: 0 12px;
}

#clock {
    color: @source_color; /* Raw Accent Blue */
    border-bottom: 2px solid @source_color;
}

#memory {
    color: @secondary_fixed; /* Pale Mint/Teal */
    border-bottom: 2px solid @secondary_fixed;
}

#battery {
    color: @inverse_primary; /* High-density Deep Cyan */
    border-bottom: 2px solid @inverse_primary;
}

#battery.critical:not(.charging) {
    background-color: @error_container;
    color: @on_error_container;
    border-bottom: 2px solid @error;
}