/* 1. The Background: Keep it darker but add transparency for the 'glass' effect */
    @define-color waybar-bg rgba(64, 64, 38, 0.00392156862745098);

/* 2. The Accents: Make these bright so they pop against the dark glass */
    @define-color main-accent #e1e3b5;
    @define-color active-workspace #e2e2cf;

/* 3. The Loop: For all other general colors, keep them at a balanced lightness */

    @define-color background #707043;

    @define-color error #b31300;

    @define-color error_container #b3000c;

    @define-color inverse_on_surface #626250;

    @define-color inverse_primary #898d25;

    @define-color inverse_surface #6d6845;

    @define-color on_background #6d6845;

    @define-color on_error #b30009;

    @define-color on_error_container #b31100;

    @define-color on_primary #a8b300;

    @define-color on_primary_container #8e941f;

    @define-color on_primary_fixed #acb300;

    @define-color on_primary_fixed_variant #a9b002;

    @define-color on_secondary #75773c;

    @define-color on_secondary_container #7e7e34;

    @define-color on_secondary_fixed #8f941f;

    @define-color on_secondary_fixed_variant #6c6e45;

    @define-color on_surface #6d6845;

    @define-color on_surface_variant #67644c;

    @define-color on_tertiary #199978;

    @define-color on_tertiary_container #298a63;

    @define-color on_tertiary_fixed #00b382;

    @define-color on_tertiary_fixed_variant #387a66;

    @define-color outline #5f5f53;

    @define-color outline_variant #626150;

    @define-color primary #7e8231;

    @define-color primary_container #a9b002;

    @define-color primary_fixed #8e941f;

    @define-color primary_fixed_dim #7e8231;

    @define-color scrim #595959;

    @define-color secondary #707043;

    @define-color secondary_container #6c6e45;

    @define-color secondary_fixed #7e7e34;

    @define-color secondary_fixed_dim #707043;

    @define-color shadow #595959;

    @define-color source_color #6b6c46;

    @define-color surface #707043;

    @define-color surface_bright #616152;

    @define-color surface_container #66664c;

    @define-color surface_container_high #64614f;

    @define-color surface_container_highest #626251;

    @define-color surface_container_low #68684a;

    @define-color surface_container_lowest #6d743e;

    @define-color surface_dim #707043;

    @define-color surface_tint #7e8231;

    @define-color surface_variant #626150;

    @define-color tertiary #3c7660;

    @define-color tertiary_container #387a66;

    @define-color tertiary_fixed #298a63;

    @define-color tertiary_fixed_dim #3c7660;
